<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Flask</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <h1>About</h1>
    <p>This website showcases my work and development as I learn to generate SaaS websites</p>
    <p>Below there are links to my repository for code I have done in Java, C++, Python and the code for this website</p>
    <p>As well as links to my linkdin and other pages.</p>
    <p>The other pages found on this website each will demonstrate various works I have done.</p>
    {% endblock %}
  </body>
</html>